node_modules/
out/
release/
resources/bin/
resources/lib/
.DS_Store
*.log
npm-debug.log*
openmtp-upstream/node_modules/
openmtp-upstream/
libmtp-source/
android-file-transfer-linux/
aft-build/
transfer-test/
.tmp/
.cache/
.native-deps/
src/node_modules/
src/native/file-promise-drag/build/
*.p12
*.p8
*.keychain-db
